@import url('https://fonts.googleapis.com/css?family=Teko:300,400');

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

#note-tracker {
  color: magenta;
  position: absolute;
  margin-left: 10px;
  font-size: 50px;
  font-family: Teko;
  font-weight: 300
}

#piano-keys{
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  margin: 0;
  background-image: linear-gradient(to right, rgb(211, 0, 158),orange, yellow)
}

.piano-key {
  box-sizing: border-box;
  background-color: black;
}

.piano-key.white {
  transition: background-color .15s ease;
  height: 40vh;
}

.piano-key.white.eb{
  border-right: 4px solid rgb(0,0,0);
}

.piano-key.black{
  height: 30vh;
  position: absolute;
  margin-bottom: 10vh;
  border: 4px solid black;
  border-top: none;
  z-index: 200;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(211, 0, 158),orange, yellow);
  background-size: 100vw;
  background: black;
}

.piano-key.black > div {
  height: 10vh;
  width: 4px;
  background: black;
  position: absolute;
  bottom: calc(-10vh - 4px);
}

.piano-key.white:last-child{
  border-right: none;
}

@keyframes blinkNote {
  from{
    filter: brightness(3)
  }
  to {
    filter: brightness(1)
  }
}

@keyframes reverseBlinkNote {
  from {
    filter: brightness(0.33)
  }
  to {
    filter: brightness(1)
  }
}

@keyframes fadeIn {
  from{
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}