@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Teko:300,400');

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  font-family: "Press Start 2P";
  color: magenta;
}

#note-tracker {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-weight: 300;
  color: orange;
  max-width: 50vw;
}

#score-tracker{
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 1vw;
  text-align: center;
  min-width: 500px;
}

#key-scores{
  position: absolute;
  bottom: 40vh;
  color: lime;
  font-family: "Press Start 2P"; 
  display: flex;
  white-space: nowrap;
  width: 100vw;
  transform: translateX(-20vw);
}

#piano-keys{
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  margin: 0;
  background-image: linear-gradient(to right, rgb(211, 0, 158),orange, yellow)
}

.piano-key {
  box-sizing: border-box;
  background-color: rgb(228, 216, 209);
}

.piano-key.white {
  transition: background-color .15s ease;
  height: 32vh;
}

.piano-key.white.eb{
  border-right: 4px solid rgb(0,0,0);
}

.piano-key.black{
  height: 22vh;
  position: absolute;
  margin-bottom: 10vh;
  border: 4px solid black;
  border-top: none;
  z-index: 200;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(211, 0, 158),orange, yellow);
  background-size: 100vw;
  background: black;
}

.piano-key.black > div {
  height: 10vh;
  width: 4px;
  background: black;
  position: absolute;
  bottom: calc(-10vh - 4px);
}

.piano-key.white:last-child{
  border-right: none;
}

@keyframes blinkNote {
  from{
    filter: brightness(3)
  }
  to {
    filter: brightness(1)
  }
}

@keyframes reverseBlinkNote {
  from {
    filter: brightness(0.33)
  }
  to {
    filter: brightness(1)
  }
}

@keyframes fadeIn {
  from{
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}